awsebcli
black
blessed
botocore
cement
certifi
charset-normalizer
click
colorama
coverage
coveralls
Django
docopt
flake8
idna
jmespath
mccabe
mypy-extensions
packaging
pathspec
platformdirs
pycodestyle
pyflakes
python-dateutil
pytz
PyYAML
requests
semantic-version
six
sqlparse
termcolor
urllib3
wcwidth
